#carouselExampleIndicators{
    /*height: 20em !important;*/
}

#carouselExampleIndicators button{
    /*font-weight: 600;*/
    /*padding: 12px;*/
}

#carouselExampleIndicators .carousel-indicators{
    bottom: -40px !important;
}

#carouselExampleIndicators .carousel-inner .carousel-item{
}

#carouselExampleIndicators .carousel-inner img{
    max-height: 600px;
    min-height: 200px;
    height: 50vw;
}

#carouselExampleIndicators .carousel-inner{

}